.homeNetworkCard {
  background-image: url(../../../images/hnPic.png);
  border: none;
  z-index: 1;
  background-repeat: no-repeat;
  transform: translate(-10%, 10%);
}

.homeNetworkH{
  margin: 0 24px;
}
