.contactUsButton{
  background-color: #FF7003;
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 1.5rem;
  text-transform: uppercase;
  gap: 10px;
  border-radius: 24px 24px 24px 0;
  font-family: "Mukta";
  width: 55vw;
  justify-content: center;
  font-weight: 300;
  }
  
  .contactUsButtonWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
  }