.heroOverlay {
	background: linear-gradient(
		0deg,
		rgba(0, 20, 56, 1) 0%,
		rgba(0, 20, 56, 0.69) 50%,
		rgba(177, 193, 224, 1) 100%
	);
	height: calc(100% + 1px);
	width: 100%;
	position: absolute;
	z-index: 1;
}

.eventHeroDetails {
	position: absolute;
	z-index: 3;
	bottom: 20%;
	padding: 0 6vw;
}

.heroWrapper {
	position: relative;
	max-height: 612px;
}

.eventHeroH {
	text-transform: uppercase;
	color: #ff7003;
	font-size: clamp(1.5rem, 11vw, 3rem);
	font-weight: 400;
}
.eventDate,
.eventLocation {
	font-size: clamp(1rem, 5vw, 2rem);
	font-family: 'Mukta';
	font-weight: 200;
}

.hero {
	padding: 0;
	max-height: 612px;
}

.heroH {
	text-transform: uppercase;
	color: #ff7003;
	font-size: clamp(1.5rem, 11vw, 3rem);
	position: absolute;
	font-weight: 400;
	z-index: 2;
	bottom: 20%;
	/* text-align: center; */
	width: 100%;
	padding: 0 6vw;
}

.heroPodcastWrapper {
	position: absolute;
	top: 15%;
	z-index: 1;
	margin: 0 6vw;
}

.heroIMGDesktop {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: none;
}

.heroIMGMobile {
	width: 100%;
	height: 515px;
	object-fit: cover;
}

.heroPodcastH2 {
	text-transform: uppercase;
	font-size: clamp(1.5rem, 7vw, 2rem);
	color: #ff7003;
	font-weight: 400;
}

.heroPodcastH3 {
	text-transform: uppercase;
	font-size: 1rem;
	margin-left: 0.3vw;
	color: #001438;
	font-weight: 400;
}
.heroPodcastH1 {
	text-transform: uppercase;
	color: #ff7003;
	font-size: clamp(1.5rem, 10vw, 2.5rem);
	font-weight: 400;
}

.heroPodcastP {
	font-family: 'Mukta';
	font-size: 1rem;
}

.heroAudio {
	width: 100%;
	height: 35px;
	margin: 40px 0 20px 0;
}

@media (min-width: 1024px) {
	.heroPodcastWrapper {
		margin: 3vw 11vw;
		top: clamp(1%, 2vw, 15%);
	}

	.eventDate,
	.eventLocation {
		font-size: 1.2rem;
	}

	.eventHeroDetails {
		padding: 0 11vw;
	}

	.heroWrapper,
	.hero,
	.heroIMG {
		height: clamp(399px, 39vw, 516px);
	}

	.heroH {
		padding: 0 11vw;
		font-size: clamp(3rem, 4.5vw, 4rem);
		bottom: clamp(30%, 30vw, 40%);
	}

	.heroIMGMobile {
		display: none;
	}

	.heroIMGDesktop {
		display: block;
	}

	.heroAudio {
		margin: 10px 0 20px 0;
	}
}
