.heroOverlay {
	background: linear-gradient(
		0deg,
		rgba(0, 20, 56, 1) 0%,
		rgba(0, 20, 56, 0.69) 50%,
		rgba(177, 193, 224, 1) 100%
	);
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 1;
}

.heroWrapper {
	position: relative;
}

.hero {
	padding: 0;
}

.heroH {
	text-transform: uppercase;
	color: #ff7003;
	font-size: clamp(1.5rem, 11vw, 3rem);
	position: absolute;
	font-weight: 400;
	z-index: 2;
	bottom: 20%;
	/* text-align: center; */
	width: 100%;
	padding: 0 6vw;
}

.heroPodcastWrapper {
	position: absolute;
	top: 15%;
	z-index: 1;
	margin: 0 24px;
}

.heroIMG {
	width: 100%;
}

.heroPodcastH2 {
	text-transform: uppercase;
	font-size: clamp(1.5rem, 7vw, 2rem);
	color: #001438;
	font-weight: 400;
}
.heroPodcastH1 {
	text-transform: uppercase;
	color: #ff7003;
	font-size: clamp(1.5rem, 10vw, 2.5rem);
	font-weight: 400;
}

.heroPodcastP {
	font-family: 'Mukta';
	font-size: 1rem;
}

.heroAudio {
	width: 100%;
	margin: 40px 0 20px 0;
}
