.blogSliderCard{
    flex: 0 0 auto;
    width: 95%;
    scroll-snap-align: center;
    background-color: #b1c1e057;
    display: flex;
    height: 323px;
    position: relative;
    margin: 0 2.5% 0 2.5%;
}

.blogSliderArrow{
    transform: translateY(-50%);
}

@media (min-width: 1024px){
    .blogSliderCard, .blogSliderContent{
        width: 400px;
        height: 400px;
    }

    .blogSliderCard{
        margin: 0 0.5vw;
    }

    .reviewSlider{
        scroll-snap-type: none;
    }

    .blogCardTitle{
        margin-bottom: 5%;
    }
}