.podcastCard {
	border-radius: 40px 40px 40px 0;
	border: 1px solid #ff7003;
	padding: 25px 30px;
	position: relative;
	cursor: pointer;
}

.podcastCardDetails {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.podcastCardTime {
	display: flex;
	gap: 10px;
	align-items: flex-end;
}

.podcastCardTimeP {
	font-family: 'Mukta';
}

.podcastCardH {
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 1rem;
	font-weight: 400;
	color: #ff7003;
}

.podcastCardP {
	font-family: 'Mukta';
	font-size: 0.9rem;
}

.podcastCardTimeIcon {
	width: 32px;
	height: 32px;
}

.podcastsWrapper {
	margin: calc(360px - 60vw) 6vw;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

@media (max-width: 375px) {
	.podcastsWrapper {
		margin: calc(260px - 10vw) 6vw;
	}
}

@media (min-width: 375px) {
	.podcastCardTimeWrapper {
		display: flex;
		gap: 1.5vw;
	}
	.podcastCardTimeP {
		font-size: 0.9em;
	}
}

@media (min-width: 500px) and (max-width: 1023px) {
	.podcastsWrapper {
		margin: 5vw 6vw;
	}
}

.podcastCurrentlyPlaying::before {
	content: '';
	width: clamp(30px, 8vw, 40px);
	height: clamp(30px, 8vw, 40px);
	background-color: #ff7003;
	border-radius: 50%;
	position: absolute;
	top: 70%;
	left: 0;
	transform: translate(-50%);
}

.podcastCardPlay {
	position: relative;
	z-index: 1;
}

.podcastCardSpotifyBtn,
.podcastCardIMG,
.podcastCardPlayDesktop {
	display: none;
}

@media (min-width: 1024px) {
	.podcastsWrapper {
		margin: 0 11vw;
	}

	.podcastCardTimeP {
		font-size: 1rem;
	}

	.podcastCardPlayDesktop {
		display: flex;
		transition: 300ms;
	}

	.podcastCardPlayDesktop:hover {
		scale: 1.05;
	}

	.podcastCurrentlyPlaying::before {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.podcastCardDetails {
		justify-content: flex-start;
		gap: 1vw;
		transform: translateY(-10px);
	}

	.podcastCardIMG {
		display: block;
		width: 195px;
		height: 195px;
		object-fit: cover;
		border-radius: 24px;
	}

	.podcastCard {
		display: flex;
		gap: 5%;
		border-width: 4px;
	}

	.podcastCardWrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		width: 100%;
	}

	.podcastCardH {
		order: 1;
		font-size: 1.5rem;
	}

	.podcastCardP {
		order: 3;
	}

	.podcastCardDetails {
		order: 2;
		margin: 0;
	}

	.podcastCardSpotifyBtn {
		order: 4;
		color: #ff7003;
		background-color: #d9d9d9;
		display: flex;
		font-family: 'Mukta';
		padding: 0 10px;
		align-items: center;
		justify-content: center;
		border-radius: 56px 56px 56px 0;
		width: clamp(157px, 15vw, 207px);
		margin-right: 0;
		margin-left: auto;
		cursor: pointer;
	}

	.podcastCardPlay {
		display: none;
	}

	.podcastCardIMGWrapper {
		position: relative;
	}

	.podcastCardPlayDesktop {
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50%;
		left: 50%;
		width: 35%;
		z-index: 2;
	}
}
