.crewBox{
  background-color: #B1C1E0;
  border-radius: 56px 56px 56px 0;
  padding: 5px 22px 10px 22px;
  position: relative;
}



.crewInfo {  
  display: flex;
  position: absolute;
  left: 0%;
  top: -25%;
}


.crewName{
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #B1C1E0;
  font-weight: 400;
  margin-left: 105px;
}

.crewTitle{
  text-transform: uppercase;
  color: black;
  font-weight: 300;
  margin-bottom: 2px;
}

.crewP{
  font-size: 0.8rem;
  font-family: "Mukta";
  color: black;
  margin: 6vw 0 4vw 0;
}

.buttonWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 11px;
}

.crewSocial{
  color: black;
  font-weight: 300;
  margin-right: 5px;
  font-family: "Mukta";
  display: flex;
  align-items: flex-end;
  gap: 5px;
  line-height: 15px;
}

.crewButton{
  padding: 8px 19px;
  background-color: #4a5e8433;
  border-radius: 16px;
  color: black;
  font-weight: 300;
  font-family: "Mukta";
  display: flex;
  gap: 5px;
}
.crewSocialIMG{
  width: 24px;
  height: 24px;
}

.crewTitle, .crewSocial{
  margin-left: 83px;
}

.crewInfoIMG{
  /* width: clamp(110px, 30vw, 130px); */
  width: 97px;
}

/* @media (max-width: 375px){
  .crewName{
    margin-left: 33%;
  }

  .crewTitle, .crewSocial{
    margin-left: 30%;
  }

  .crewInfo{
    left: 0;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .crewName{
    margin-left: 105px;
  }

  .crewTitle, .crewSocial{
    margin-left: 83px;
  }
} */