.reviewCard {
	flex: 0 0 auto;
    width: 95%;
    scroll-snap-align: center;
    background-color: #b1c1e057;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 456px;
    justify-content: center;
    position: relative;
    margin: 0 2.5% 0 2.5%;
}

.reviewCardName {
	font-size: 2rem;
	color: #fff;
	font-weight: 400;
}

.reviewCardPosition {
	color: #ffb277;
	margin: 15px;
	text-transform: uppercase;
}

.reviewCardReview {
	width: 70%;
	font-family: 'Mukta';
}

.reviewWrapper {
	position: relative;
	display: flex;
}

.reviewCardArrow {
	position: absolute;
	top: 50%;
	transform: translateY(-0%);
	right: 0;
	padding: 50px 20px;
	z-index: 3;
}

.reviewCardArrow_back {
	left: 0;
	transform: translateY(-0%) rotate(180deg);
}

.reviewsH {
	text-align: center;
	color: #ff7003;
	font-size: 2rem;
	font-weight: 300;
	text-transform: uppercase;
	margin: 30px 0 70px 0;
}

.reviewPersonIMG,
.reviewIMG {
	position: absolute;
	top: 0;
}

.reviewPersonIMG {
	transform: translateY(-50%);
	z-index: 1;
  width: 196px;
  height: 196px;
  border-radius: 50%;
}

.reviewIMG {
	transform: translate(90%, -100%);
}

.reviewSlider {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	width: 100%;
}
