.stackedCardsWrapper {
	display: flex;
	flex-direction: column;
  margin: 0 5%;
}

.stackedCard {
	background-color: #b1c1e0;
	padding: 25px 10px 10px;
	border-radius: 56px 56px 56px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 375px){
  .stackedCardsWrapper{
    margin: 0;
  }
}

.card2 {
	background-color: #4a5e84;
}

.card3 {
	background-color: #001438;
}

.stackedCardH {
  text-transform: uppercase;
  font-size: 2rem;
  color: #FF7003;
  font-weight: 400;
}

.stackedCardP {
  font-family: "Mukta";
  font-size: 1rem;
  color: #001438;
  margin-bottom: 30px;
}

.card3P, .card2P{
  color: #FFF;
}

.stackedCardInWrapper{
  width: 85%;
}

.stackedCardA{
  display: flex;
  gap: 5px;
  color: #FF7003;
  font-family: "Mukta";
  justify-content: flex-end;
  margin: 0 5% 15px;
}

.stackedCardsWrapperDesktop{
  display: none;
}
@media (min-width: 1024px) {
  .stackedCardsWrapperDesktop{
    display: flex;
  }

  .stackedCardDesktop{
    display: flex;
  }

  .stackedCardsWrapper{
    display: none;
  }

  .stackedCard{
    flex-basis: fit-content;
    padding: 85px clamp(10px, 1.5vw, 57px);
  }

  .stackedCard:nth-child(2){
    background-color: #4A5E84;
  }
  .stackedCard:nth-child(3){
    background-color: rgba(177, 193, 224, 0.25);
  }
  
  .stackedCardInWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .stackedCardP{
    margin: 0;
    font-size: clamp(1rem, 2vw, 1.5rem);
  }
}