.navMobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 20px 20px 20px;
	background-color: #b1c1e0;
}

.navDesktop{
	display: none;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw;
    background-color: #b1c1e0;
}

.navDesktopUL{
	display: flex;
    font-size: 1.5rem;
}

.navDesktopLI{
	text-transform: uppercase;
	margin: 10px;
}

.navDesktopLI > a {
	color: #001438;
}

.navDesktopLI > a:hover{
	color: #ff7003;
}


.navLIActive{
	color: #ff7003!important;
}

@media (min-width: 1024px) {
	.navMobile {
		display: none;
	}
	.navDesktop{
		display: flex;
	}
}

.navMobileWrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: 19;
	background: linear-gradient(0deg, #001438, #4a5e84);
}

.navMobileLogo {
	width: 50%;
	position: relative;
	z-index: 20;
}
.mobileLogo {
	width: clamp(136px, 40vw, 200px);
}

.burgerMenu {
	display: flex;
	flex-direction: column;
	gap: 10px;
	position: relative;
	z-index: 20;
}

.burgerLine {
    width: 38px;
    height: 2px;
    background-color: #001438;
}

.navMobileUL {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	align-items: center;
	position: relative;
	top: 50%;
	transform: translate(0, -40%);
}

.navMobileLI > a {
	text-transform: uppercase;
	color: #ff7003;
	font-size: 2.5rem;
}

.navMobileLI > a:hover {
	color: #ff7003;
}
