.blogWhiteCard {
	background-color: #ffffff;
	width: 100%;
	border-radius: 40px 40px 40px 0;
  padding: 25px 0;
  margin: 40px 0 48px 0;
}


.blogP{
  width: 90%;
  margin: auto;
  font-family: "Mukta";
  font-size: clamp(1rem, 4.5vw, 1.5rem);
}

.blogP2,
.blogP3 {
  color: #001438;
  margin: 20px auto;
}


.blogH{
  text-align: center;
  font-size: 1.5rem;
  color: #FF7003;
  font-weight: 400;
  text-transform: uppercase;
}

.blogIMG{
  width: 100%;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .blogP{
    width: auto;
    margin: 0 11vw;
  }

  .blogP2, .blogP3{
    font-size: 1rem;
  }

  .blogP1, .blogP4{
    font-size: clamp(1rem, 1.5vw, 1.2rem);

  }
  
  .blogIMG{
    max-height: 540px;
    margin: 1.5rem 0;
  }
}