.buyTicketBtn {
	width: 80%;
	height: 80px;
	background-color: #ff7003;
	border-radius: 40px 40px 40px 0;
	margin: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 5px;
	font-size: 2.5rem;
}

.eventP {
	font-family: 'Mukta';
	width: 90%;
	margin: 24px auto;
	font-size: clamp(1rem, 4.5vw, 1.5rem);
}

.eventP1 {
	font-size: clamp(1.2rem, 5.5vw, 1.4rem);
	font-weight: 500;
}

.eventScheduleCard {
	width: 90%;
	margin: 40px auto;
	padding: 32px;
	border: 1px solid #ff7003;
	border-radius: 46px 46px 46px 0;
}

.eventScheduleLI {
	display: flex;
}

.eventScheduleTime {
	text-wrap: nowrap;
	color: #ff7003;
	font-family: 'Mukta';
	width: 30vw;
}

.eventScheduleActivity {
	font-family: 'Mukta';
	width: 45vw;
}

.eventScheduleH {
	color: #ff7003;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 30px;
}

.eventSpeakersWrapper {
	width: 90%;
	margin: 40px auto;
	padding: 26px 10px;
	border: 2px solid #ff7003;
	border-radius: 40px 40px 40px 0;
}

.eventSpeakersCardsWrapper {
	display: flex;
	flex-direction: column;
	gap: 24px;
}
