.mentorsCard {
	background-color: #ff7003b7;
	border-radius: 56px 56px 56px 0;
	padding: 15px 45px 15px 20px;
}


.mentorsCardWrapper {
	display: flex;
	gap: 4%;
}

.mentorsCardCompany {
	text-align: center;
	transform: translateY(10px);
	font-weight: 600;
}

.mentorsCardSocials {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.mentorsCardA {
	font-family: 'Mukta';
	font-weight: 300;
	display: flex;
	gap: 5px;
}

.mentorsCardDesc {
	font-size: 12px;
	font-family: 'Mukta';
	font-weight: 300;
}

.mentorsCardRight {
	display: flex;
	flex-direction: column;
	margin-top: 15px;
	justify-content: space-between;
}

.mentorsCardLeft > p {
	font-size: 12px;
	font-family: 'Mukta';
	font-weight: 300;
}

@media (max-width: 375px) {
	.mentorsCard {
    padding: 5px 35px 5px 15px;
	}
  .mentorsCardCompany{
    transform: translateY(0px);
  }
}
