.navDesktop {
	display: none;
	justify-content: space-between;
	align-items: center;
	
}

.navDesktopUL {
	display: flex;
	gap: 2rem;
	margin-right: 20px;
}



@media (min-width: 426px) {
	.navDesktop{
	  display: flex;
	}
  }