.stackedCardsWrapper {
	display: flex;
	flex-direction: column;
  margin: 0 15px;
}

.stackedCard {
	background-color: #b1c1e0;
	padding: 25px 10px 10px;
	border-radius: 56px 56px 56px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (max-width: 375px){
  .stackedCardsWrapper{
    margin: 0;
  }
}

.card2 {
	background-color: #4a5e84;
}

.card3 {
	background-color: #001438;
}

.stackedCardH {
  text-transform: uppercase;
  font-size: 32px;
  color: #FF7003;
  font-weight: 400;
}

.stackedCardP {
  font-family: "Mukta";
  font-size: 16px;
  color: #001438;
}
.card2P{
  color: #B1C1E0;
}
.card3P{
  color: #FFF;
}

.stackedCardInWrapper{
  width: 85%;
}

.stackedCardA{
  display: flex;
  gap: 5px;
  color: #FF7003;
  font-family: "Mukta";
  justify-content: flex-end;
  margin: 0 5% 15px;
}