.VMP {
	width: 80%;
  font-family: "Mukta";
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 10px;
}
@media (max-width: 375px){
  .VMP {
    width: 95%;
  }
}

.VMCard {
  border: 1px solid #ff7003;
	border-radius: 56px 56px 56px 0;
	padding: 30px 24px;
	width: 65%;
  min-width: 255px;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: space-between;
  height: 304px;
  transform: translate(-10%, 2.5%);
}

@media (max-width: 420px){
  .VMCard{
    height: 330px;
  }
}

.VMCard:nth-child(3){
  transform: translate(10%, -2.5%);
  border: none;
}

.VMCardH {
  text-transform: uppercase;
  color: #ff7003;
  font-size: 32px;
  font-weight: 400;
}

.VMCardP {
  font-family: "Mukta";
  font-size: 16px;
  font-weight: 200;
}

.VMWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  margin-bottom: 40px;
}
