.homePodcastCard {
	background-image: linear-gradient(
			rgba(255, 112, 3, 0.32),
			rgba(255, 112, 3, 0.32)
		),
		url(../../../images/homePodcast.png);
	background-blend-mode: multiply;
}

.homePodcastH {
	text-transform: uppercase;
	color: #ff7003;
	font-weight: 400;
	margin: 40px;
	text-align: center;
	font-size: 32px;
}

.homePodcastCardP {
	font-family: 'Mukta';
	font-size: 16px;
	font-weight: lighter;
}
