.homePodcastCard {
	background-image: linear-gradient(
			rgba(255, 112, 3, 0.32),
			rgba(255, 112, 3, 0.32)
		),
		url(../../../images/homePodcast.png);
	background-blend-mode: multiply;
	background-size: cover;
	
}

.homePodcastH {
	text-transform: uppercase;
	color: #ff7003;
	font-weight: 400;
	margin: 40px;
	text-align: center;
	font-size: 2rem;
}

.homePodcastCardP {
	font-family: 'Mukta';
	font-size: 1rem;
	font-weight: lighter;
}
.homePodcastCardsWrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
}


@media (min-width: 1024px) {

	.homePodcastCardsWrapper{
		flex-direction: row;
	}

	.homePodcastCard{
		order: 1;
		transform: translate(100px, 15px)!important;
	}

	.homePodcastCard1{
		align-items: flex-end;

	}

	.homePodcastCardA{
		font-family: "Mukta";
		font-size: clamp(1rem, 4.5vw, 1.5rem);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3%;
		width: 19vw;
	}
	
	.homePodcastCard1{
		order: 2;
		transform: translate(-5vw, -15px)!important;
		
	}

	.homePodcastCard1, .homePodcastCard{
		height: 576px;
		width: clamp(510px,49vw,692px);
	}

	.homePodcastCardP{
		font-size: clamp(1rem, 4.5vw, 1.5rem);
		width: 70%;
		margin-left: auto;
		font-weight: lighter;

	}
}